body {
  background-color: #121212;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

h1 {
  font-size: 3rem;
  margin: 2rem 0;
  text-align: center;
  width: 100%;
}

.box {
  background-color: #3d3d3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 70%;
  min-width: 350px;
  border: 1px solid white;
}

.headerTop {
  margin-top: 50px;
}

.inputBox {
  padding: 10px;
  margin: 10px auto;
}

label {
  font-size: 14px;
}

.button {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.25rem;
}

.create-button {
  background-color: #008cba;
  color: #ffffff;
  margin-top: 10px;
}

.logged-in-text,
.create-state-text,
.block-explorer-link {
  margin-top: 10px;
}

.disconnect-button,
.profile-button,
.clear-button {
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
}

.block-explorer-link {
  color: white;
  font-size: 14px;
}

.create-state-text {
  color: white;
  margin-top: 30px;
}

.post-box {
  margin-bottom: 20px;
}

.header-text {
  font-size: 14px;
  margin-bottom: 10px;
}

.filter-label {
  color: white;
  margin-bottom: 20px;
  cursor: pointer;
}

.spinner {
  border: 3px solid rgba(255, 255, 255, 1);
  border-top: 3px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  vertical-align: middle;
  margin-top: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.inline-content {
  margin-bottom: 10px;
  font-size: 14px;
}

.button-row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.button {
  background-color: #444;
  border: 2px solid #888;
  color: #fff;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s;
}

.button:hover {
  background-color: #333;
}

.button.active {
  background-color: #189637;
  border-color: white;
}

.button.active:hover {
  background-color: #0d5720;
  border-color: white;
}

a {
  color: #ffffff;
}

a:hover {
  color: #989292;
}

input:focus {
  outline: none;
}

.centered-box {
  border: 1px solid white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.field {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
}

.field img {
  max-width: 100%;
  height: auto;
  border: none;
}

.uri {
  width: 100px;
  height: 100px;
}
